body {
    font-family: "Microsoft YaHei UI", "Microsoft Yahei", "Arial", "sans-serif";
    font-size: 14px;
    background-color: #fff;
    color: #666666;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0;
    text-align: center;
}


h3 {
    font-size: xx-large;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #CCCCCC;
    background: linear-gradient(#EAEAEA, #CCCCCC);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -20px;
    margin-right: -20px;
    border-bottom: 1px solid #999999;
}

span {
    width: 250px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    border: 1px solid #666;
}

#L1 {
    left: 70px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    border-left: none;
}

#R1 {
    left: 320px;
    height: 20px;
    text-align: left;
    border: none;
}

#L2 {
    left: 320px;
    height: 80px;
    line-height: 80px;
    text-align: right;
    border-left: none;
}

#R2 {
    left: 570px;
    height: 40px;
    text-align: left;
    border: none;
}

#L3 {
    left: 570px;
    height: 160px;
    text-align: right;
    border-left: none;
    line-height: 160px;
}

#R3 {
    left: 820px;
    height: 80px;
    text-align: left;
    border: none;
}

#L4 {
    left: 820px;
    height: 320px;
    text-align: right;
    border-left: none;
    line-height: 320px;
}

#R4 {
    left: 1070px;
    height: 160px;
    text-align: left;
    border: none;
}

#L5 {
    left: 1070px;
    height: 640px;
    text-align: right;
    border-left: none;
    line-height: 640px;
}

#R5 {
    left: 1320px;
    height: 320px;
    text-align: left;
    border: none;
}

#L6 {
    left: 1320px;
    height: 1280px;
    line-height: 1280px;
    text-align: right;
    border-left: none;
}

#R6 {
    left: 1570px;
    height: 640px;
    text-align: left;
    border: none;
}

#L7 {
    left: 1570px;
    height: 2560px;
    line-height: 2560px;
    text-align: right;
    border-left: none;
}

#R7 {
    left: 1820px;
    height: 1280px;
    text-align: left;
    border: none;
}

#LE {
    border-left: none;
    border-right: none;
    border-bottom: none;
    height: 1px;
}

#ID {
    font-size: medium;
    border: none;
    background: linear-gradient(#ddeecc, #bcc98e);
    text-align: middle;
    color: #333;
    padding: 0px 6px;
    line-height: 20px;
    left: 10px;
    height: 20px;
    width: 45px;
}

#NE {
    font-size: medium;
    border: none;
    text-align: left;
    color: #2b434f;
    padding: 0px 6px;
    left: 70px;
    height: 20px;
    width: 800px;
}

#TE {
    font-size: large;
    text-align: center;
    margin-top: 10px;
    margin-left: -150px;
    overflow: visible;
    background-color: #CCCCCC;
    background: linear-gradient(#EAEAEA, #CCCCCC);
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #999999;
    width: 300px;
}