table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #aaa;
	border-collapse: collapse;
}
table.hovertable th {
    background-color:#bcc98e;
    background: linear-gradient(#ddeecc, #bcc98e);
    border-width: 1px;
	color: #333;
    padding: 8px;
    border-style: solid;
    border-color: #aaa;
	text-align: center;
}
table.hovertable tr {
    background-color:#ffffe5;
}
table.hovertable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #aaa;
	text-align: center;
}