body {
    font-family: "Microsoft YaHei UI", "Microsoft Yahei", "Arial", "sans-serif";
    font-size: 16px;
}

@media (min-width: 320px) {
    body {
        font-size: 12px;
    }
}

@media (min-width: 568px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 17px;
    }
}

@media (min-width: 1920px) {
    body {
        font-size: 18px;
    }
}

.swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

table.loop {
    width: 95%;
    max-width: 800px;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

table.loop th {
    font-size: 100%;
    font-weight: normal;
    padding: 1px 1px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #bbb;
    color: #222;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    text-align: center;
}

table.loop td {
    font-size: 100%;
    padding: 1px 1px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #bbb;
    color: #333;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    text-align: center;
}

.event-header-m,
.event-header-w,
.event-header-x {
    margin: 0 auto;
    padding: 5px;
    margin-top: 8px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 120%;
    font-weight: bold;
    width: 99%;
    text-align: center;
}

.event-header-m {
    color: #004529;
    background-color: #dff0d8;
    border-color: #abd09a;
}

.event-header-w {
    color: #67001f;
    background-color: #fde0ef;
    border-color: #fea3ca;
}

.event-header-x {
    color: #543005;
    background-color: #f6e8c3;
    border-color: #dfc27d;
}

.event-header {
    font-size: 120%;
    font-weight: bold;
}

.loop .tg-header-m {
    background-color: #abd09a;
    background: linear-gradient(to top, #f2fcda, #abd09a);
}

.loop .tg-header-w {
    background-color: #fea3ca;
    background: linear-gradient(to top, #fde0ef, #fea3ca);
}

.loop .tg-header-x {
    background-color: #dfc27d;
    background: linear-gradient(to top, #f6e8c3, #dfc27d);
}

.loop .tg-number-m {
    width: 5%;
    background-color: #abd09a;
    background: linear-gradient(to left, #f2fcda, #abd09a);
}

.loop .tg-number-w {
    width: 5%;
    background-color: #fea3ca;
    background: linear-gradient(to left, #fde0ef, #fea3ca);
}

.loop .tg-number-x {
    width: 5%;
    background-color: #dfc27d;
    background: linear-gradient(to left, #f6e8c3, #dfc27d);
}

.loop .tg-number-t {
    height: 2em;
}

.loop .tg-number-i {
    height: 4em;
}

.loop .tg-number-b {
    width: 5%;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.loop .tg-name-m {
    width: 25%;
    background-color: #f2fcda;
}

.loop .tg-name-w {
    width: 25%;
    background-color: #fde0ef;
}

.loop .tg-name-x {
    width: 25%;
    background-color: #f6e8c3;
}

.loop .tg-name-b {
    width: 20%;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.loop .tg-win {
    padding: 0;
    color: #fe0000;
}

.loop .tg-loss {
    padding: 0;
    color: #000;
}

.loop .tg-win-s {
    padding: 0;
    color: #fe0000;
    font-size: 70%;
}

.loop .tg-loss-s {
    padding: 0;
    color: #000;
    font-size: 70%;
}

.loop .tg-schedule-r {
    color: #000;
    font-size: 70%;
}

.loop .tg-schedule-l {
    color: #000;
    font-size: 70%;
}

.loop .tg-schedule-r-g {
    color: #ccc;
    font-size: 70%;
}

.loop .tg-schedule-l-g {
    color: #ccc;
    font-size: 70%;
}

.loop .tg-gray {
    background-color: #c0c0c0;
}

.loop .tg-points-1c {
    color: #000;
}

.loop .tg-points-2c {
    color: #000;
}

.loop .tg-calculate {
    color: #000;
}

.loop .tg-rank-w {
    background-color: #ffffc7;
    color: #fe0000;
    font-weight: bold;
}

.loop .tg-rank-l {
    color: #000;
}

.loop .tg-blank {
    border: 0;
    height: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.loop .tg-blank-t {
    border: 0;
    height: 3em;
}

.loop .tg-blank-i {
    border: 0;
    height: 4em;
}

.pname-m {
    color: #002200;
    font-size: 110%;
}

.pname-w {
    color: #67001f;
    font-size: 110%;
}

.pname-x {
    color: #543005;
    font-size: 110%;
}


.tname-m {
    color: #002200;
    font-size: 90%;
}

.tname-w {
    color: #67001f;
    font-size: 90%;
}

.tname-x {
    color: #543005;
    font-size: 90%;
}

.dname-m {
    color: #002200;
    font-size: 80%;
}

.dname-w {
    color: #67001f;
    font-size: 80%;
}

.dname-x {
    color: #543005;
    font-size: 80%;
}

.tname {
    font-size: 70%;
}

a {
  color: inherit;
}