@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?414k05');
  src:  url('../fonts/icomoon.eot?414k05#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?414k05') format('truetype'),
    url('../fonts/icomoon.woff?414k05') format('woff'),
    url('../fonts/icomoon.svg?414k05#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-bullhorn:before {
  content: "\e91a";
}
.icon-bell:before {
  content: "\e951";
}
.icon-undo2:before {
  content: "\e967";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-search:before {
  content: "\e986";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-li:before {
  content: "\e9ba";
}
.icon-cloud-download:before {
  content: "\e9c2";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-tab:before {
  content: "\ea45";
}
.icon-sort-amount-asc:before {
  content: "\ea4c";
}
.icon-table:before {
  content: "\ea70";
}
