body {
	background-color:black;					/* 页面背景为黑 */
}
* {
	margin:0;
	padding:0;
}
table.altrowstable,
table.bartable {
	width:100%;
	font-family: Aril Narrow,sans-serif;	/* 字体类型 */
	font-size:19px;							/* 字体大小 */
	color:#ffffff;							/* 默认字体颜色为白 */
	border-width: 0px;						/* 表格边框粗细 */
	border-color: #a9c6c9;					/* 表格边框颜色 */
	border-collapse: collapse;
	text-align: center;						/* 默认居中对齐 */
}

table.bartable {
	background-color:#222;					/* 滚动条背景色 */
}

table.altrowstable th,
table.bartable th {
	border-width: 0px;
	border-style: solid;
	border-color: #a9c6c9;
	background-color:#AE8115;
	white-space: nowrap;
    height:2em;
    line-height:2em;
}

table.altrowstable td,
table.bartable td {
	border-width: 0px;
	border-style: solid;
	border-color: #a9c6c9;
    height:2em;
    line-height:2em;
}

.th_l{ background-color:#68829e!important; }
.th_r{ background-color:#598234!important; }
.th_m{ 
	background-color:#598234!important;
	border-left: solid 3px #000!important;
}
.odd{ background-color:#686868; }			/* 奇数行整行底色 */
.even{ background-color:#0C2953; }			/* 偶数行整行底色 */

.t_table{ color:#ffff00; width:3em; }					/* 球台字体颜色 */
.t_table_r{ color:#ffff00; width:3em; border-left: solid 3px #000!important; }					/* 球台字体颜色 */

.m_event{ color:#6EF745; white-space: nowrap; }					/* 男子项目颜色 */
.w_event{ color:#eaccff; white-space: nowrap; }					/* 女子项目颜色 */
.x_event{ color:#73D2FD; }					/* 团体项目颜色 */
.l_name { 
	text-align: right;
	width: 18%;
	max-width: 8em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-overflow:hidden;
	-webkit-text-overflow:ellipsis;
}
.r_name { 
	text-align: left;
	width: 18%;
	max-width: 8em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-webkit-overflow:hidden;
	-webkit-text-overflow:ellipsis;
}

.flag{
	width:3em;
}

.flagImage{
    height:1em;
}

#bar { position:fixed; bottom:0;left:0; width:100%; border:0px solid #FF0000; }
#bar1 {width: 100%;overflow: hidden;}
#bar1 #bar2 {width:33100px;}
#bar3,#bar4 {width:auto;float:left;}
